name: TEST pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}   
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}  
      run: |
        docker login -username $DOCKER_USER -password-stdin $DOCKER_PASS
    
    - name: docker build application
      run: |
        docker build ./ -t fakhamk/lastcommit:latest
    - name: docker push
      run: |
        docker push fakhamk/lastcommit:latest
